@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap');


.prof-title{
    text-align: center;
    color: #F5EFE6;
    font-family: 'Saira Condensed', sans-serif;
}
.footer{
    color: white;
    text-align: center;
}