.coding{
    border: 4px solid white;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 20px 15px;
    color: white;
    border-radius: 8px;
}

.sem-button-container{
    margin: 16px;
    padding: 10px;
    box-shadow: 0 25px 45px rgb(0 0 0 / 10%);
   
}

.code-category-button
{
    width: 47%;
    padding: 12px;
    margin: 3px;
    display: inline;
    margin: 4px;
    font-size: 23.5px;
    
}

.code-category-button:nth-child(5){
    width: 98%;
}


.codes-button-container{
    display: flex;
    
}

.codes-sub-buttons{
    width: 48%;
    font-size: 27px;
    margin: 4px;
}

