.back-button{
   width: 77%;
   padding: 2px 32px;
   text-align: center;
   display: block;
   border: 1px solid rgba(255, 255, 255, 0.15);
   margin: 3px;
   font-size: 27px;
   font-weight: bold;
   background: linear-gradient(115deg, 
   rgba(0,0,0,0.10), 
   rgba(255,255,255,0.25));
 color: #fff;
   backdrop-filter: blur(5px);
   border-radius: 8px;
   box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
   cursor: pointer;
}

.lookupuser{
    margin: 20px;
    color: white;
}

.look-up {
  padding: 12px;
  border: 5px solid #fff;
  border-radius: 6px;
  margin: 20px;
}