@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100&display=swap');
.overview{
    border: 3px solid white;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 20px 30px;
    color: white;
    border-radius: 8px;
}

.overview-group-it{
    display: flex;
    justify-content: space-between;
   
}