
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

  
}

.title{
  text-align: center;

  font-family: 'Permanent Marker', cursive;
}

a{
  text-decoration:none;
  color:white;
}

.btn{
  background: linear-gradient(115deg, 
    rgba(0,0,0,0.10), 
    rgba(255,255,255,0.25));
  color: #fff;
  backdrop-filter: blur(5px);
    border-radius: 8px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.15);
    font-weight: bold;
}

